	<form action="/ajouter" method="POST">
		<input type="text" placeholder="prenom" name="prenom"> <br>
		<input type="text" placeholder="nom" name="nom"> <br>
		<input type="text" placeholder="telephone" name="telephone"> <br>
		<input type="text" placeholder="courriel" name="courriel"> <br> 
		<br>

		<button type="submit">Submit</button>
	</form>